<style>

	.contenedor{
		border: 2px solid black;
		display: inline-block;
		width: 40%
	}
	div>img{
		display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 791px;
	}
	div.cuadro{
		width: 500px;
	}
	h1{
		color:#63096C;
		text-align: center;
	}
	div{
		border: 1px solid ;
	}
	body{
		background-color: #F9E5F2;
		text-align: center;
	}
	.contenedor{
		background-color: #ECE59A;
		color: #63096C;
	}
	.cargar-imagenes{
		background-color: #2C3B63;
		color: black;
	}
	textarea{
		width: 100%;
	}
	.cargar-imagenes{
		border: 3px solid black;
	}

	
	h1{text-align: center;}

	h2{text-align:left;color: black;}
	
	body{color: black;background-color: ;padding: 22px 100px;}

	h1{color: #2CFFFE;}

	h2{color: none;}

	div{background-color: #F9E3D2;color: #846F81;}

	.img{text-align: center;}

	body{background-color: #F9E5F2}

	.titulo img{
		display: block; 
		width: 791px;}

</style>